In [1]:
#import dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt #library used to create visualizations
import csv

In [17]:
#read file
filename = 'data/commodity_exports.csv'
exports = pd.read_csv(filename, encoding = "ISO-8859-1")
exports.head()

,Classification,Year,Period,Period Desc.,Aggregate Level,Is Leaf Code,Trade Flow Code,Trade Flow,Reporter Code,Reporter,...,Qty,Alt Qty Unit Code,Alt Qty Unit,Alt Qty,Netweight (kg),Gross weight (kg),Trade Value (US$),CIF Trade Value (US$),FOB Trade Value (US$),Flag
0,HS,2018,201803,18-Mar,6,1,2,Exports,36,Australia,...,NaN,NaN,NaN,NaN,21000.0,NaN,61918,NaN,NaN,0
1,HS,2018,201809,18-Sep,4,0,2,Exports,203,Czech Rep.,...,NaN,NaN,NaN,NaN,48000.0,NaN,47083,NaN,NaN,0
2,HS,2018,201809,18-Sep,6,1,2,Exports,203,Czech Rep.,...,NaN,NaN,NaN,NaN,277.0,NaN,2541,NaN,NaN,0
3,HS,2018,201809,18-Sep,6,1,2,Exports,203,Czech Rep.,...,NaN,NaN,NaN,NaN,44525.0,NaN,178524,NaN,NaN,0
4,HS,2018,201802,18-Feb,6,1,2,Exports,276,Germany,...,NaN,NaN,NaN,NaN,1279.0,NaN,112085,NaN,NaN,0

In [3]:
gk = exports.groupby('Period')
gk.first()

,Classification,Year,Period Desc.,Aggregate Level,Is Leaf Code,Trade Flow Code,Trade Flow,Reporter Code,Reporter,Reporter ISO,...,Qty,Alt Qty Unit Code,Alt Qty Unit,Alt Qty,Netweight (kg),Gross weight (kg),Trade Value (US$),CIF Trade Value (US$),FOB Trade Value (US$),Flag
Period,,,,,,,,,,,,,,,,,,,,,
201801,HS,2018,18-Jan,6,1,2,Exports,703,Slovakia,NaN,...,NaN,NaN,NaN,NaN,1483.0,NaN,8850,NaN,NaN,0
201802,HS,2018,18-Feb,6,1,2,Exports,276,Germany,NaN,...,NaN,NaN,NaN,NaN,1279.0,NaN,112085,NaN,NaN,0
201803,HS,2018,18-Mar,6,1,2,Exports,36,Australia,NaN,...,NaN,NaN,NaN,NaN,21000.0,NaN,61918,NaN,NaN,0
201804,HS,2018,18-Apr,6,1,2,Exports,112,Belarus,NaN,...,NaN,NaN,NaN,NaN,78885.0,NaN,273200,NaN,NaN,0
201805,HS,2018,18-May,6,1,2,Exports,792,Turkey,NaN,...,NaN,NaN,NaN,NaN,20143.0,NaN,38992,NaN,NaN,0
201806,HS,2018,18-Jun,6,1,2,Exports,792,Turkey,NaN,...,NaN,NaN,NaN,NaN,24890.0,NaN,63855,NaN,NaN,0
201807,HS,2018,18-Jul,6,1,2,Exports,616,Poland,NaN,...,NaN,NaN,NaN,NaN,21216.0,NaN,154561,NaN,NaN,0
201808,HS,2018,18-Aug,4,0,2,Exports,428,Latvia,NaN,...,NaN,NaN,NaN,NaN,209200.0,NaN,6281,NaN,NaN,0
201809,HS,2018,18-Sep,4,0,2,Exports,203,Czech Rep.,NaN,...,NaN,NaN,NaN,NaN,48000.0,NaN,47083,NaN,NaN,0
201810,HS,2018,18-Oct,6,1,2,Exports,975,ASEAN,NaN,...,NaN,NaN,NaN,NaN,68000.0,NaN,54343,NaN,NaN,0
201811,HS,2018,18-Nov,6,1,2,Exports,276,Germany,NaN,...,NaN,NaN,NaN,NaN,157.0,NaN,2204,NaN,NaN,0
201812,HS,2018,18-Dec,6,1,2,Exports,642,Romania,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,34,NaN,NaN,0
201901,HS,2019,19-Jan,6,1,2,Exports,428,Latvia,NaN,...,NaN,NaN,NaN,NaN,885.0,NaN,5466,NaN,NaN,0
201902,HS,2019,19-Feb,6,1,2,Exports,705,Slovenia,NaN,...,NaN,NaN,NaN,NaN,2.0,NaN,64,NaN,NaN,0
201903,HS,2019,19-Mar,6,1,2,Exports,410,Rep. of Korea,NaN,...,NaN,NaN,NaN,NaN,18500.0,NaN,212000,NaN,NaN,0
201904,HS,2019,19-Apr,6,1,2,Exports,724,Spain,NaN,...,NaN,NaN,NaN,NaN,617.0,NaN,26836,NaN,NaN,0
201905,HS,2019,19-May,6,1,2,Exports,276,Germany,NaN,...,NaN,NaN,NaN,NaN,18802.0,NaN,153771,NaN,NaN,0
201906,HS,2019,19-Jun,6,1,2,Exports,642,Romania,NaN,...,NaN,NaN,NaN,NaN,6299.0,NaN,25161,NaN,NaN,0
201907,HS,2019,19-Jul,6,1,2,Exports,703,Slovakia,NaN,...,NaN,NaN,NaN,NaN,8081.0,NaN,72087,NaN,NaN,0
201908,HS,2019,19-Aug,6,1,2,Exports,440,Lithuania,NaN,...,NaN,NaN,NaN,NaN,30000.0,NaN,26519,NaN,NaN,0
201909,HS,2019,19-Sep,6,1,2,Exports,31,Azerbaijan,NaN,...,NaN,NaN,NaN,NaN,82481.0,NaN,159308,NaN,NaN,0
201910,HS,2019,19-Oct,6,1,2,Exports,233,Estonia,NaN,...,NaN,NaN,NaN,NaN,2115.0,NaN,15580,NaN,NaN,0
201911,HS,2019,19-Nov,6,1,2,Exports,699,India,NaN,...,NaN,NaN,NaN,NaN,9183.0,NaN,114848,NaN,NaN,0
201912,HS,2019,19-Dec,6,1,2,Exports,251,France,NaN,...,NaN,NaN,NaN,NaN,568226.0,NaN,865328,NaN,NaN,0
202001,HS,2020,20-Jan,6,1,2,Exports,112,Belarus,NaN,...,NaN,NaN,NaN,NaN,50107.0,NaN,174700,NaN,NaN,0
202002,HS,2020,20-Feb,4,0,2,Exports,498,Rep. of Moldova,NaN,...,NaN,NaN,NaN,NaN,169790.0,NaN,28015,NaN,NaN,0
202003,HS,2020,20-Mar,4,0,2,Exports,276,Germany,NaN,...,NaN,NaN,NaN,NaN,1210.0,NaN,996,NaN,NaN,0
202004,HS,2020,20-Apr,6,1,2,Exports,440,Lithuania,NaN,...,NaN,NaN,NaN,NaN,342.0,NaN,6242,NaN,NaN,0
202005,HS,2020,20-May,6,1,2,Exports,699,India,NaN,...,NaN,NaN,NaN,NaN,3947.0,NaN,52135,NaN,NaN,0
202006,HS,2020,20-Jun,6,1,2,Exports,276,Germany,NaN,...,NaN,NaN,NaN,NaN,2767.0,NaN,67986,NaN,NaN,0
202007,HS,2020,20-Jul,6,1,2,Exports,233,Estonia,NaN,...,NaN,NaN,NaN,NaN,5297.0,NaN,41370,NaN,NaN,0
202008,HS,2020,20-Aug,4,0,2,Exports,112,Belarus,NaN,...,NaN,NaN,NaN,NaN,1972430.0,NaN,82800,NaN,NaN,0
202009,HS,2020,20-Sep,6,1,2,Exports,381,Italy,NaN,...,NaN,NaN,NaN,NaN,1000.0,NaN,4127,NaN,NaN,0
202010,HS,2020,20-Oct,6,1,2,Exports,620,Portugal,NaN,...,NaN,NaN,NaN,NaN,3.0,NaN,95,NaN,NaN,0
202011,HS,2020,20-Nov,6,1,2,Exports,826,United Kingdom,NaN,...,NaN,NaN,NaN,NaN,1481.0,NaN,14889,NaN,NaN,0
202012,HS,2020,20-Dec,6,1,2,Exports,792,Turkey,NaN,...,NaN,NaN,NaN,NaN,94154.0,NaN,394989,NaN,NaN,0
202101,HS,2021,21-Jan,6,1,2,Exports,268,Georgia,NaN,...,NaN,NaN,NaN,NaN,18112.0,NaN,38428,NaN,NaN,0
202102,HS,2021,21-Feb,6,1,2,Exports,616,Poland,NaN,...,NaN,NaN,NaN,NaN,864.0,NaN,1123,NaN,NaN,0
202103,HS,2021,21-Mar,6,1,2,Exports,276,Germany,NaN,...,NaN,NaN,NaN,NaN,12881.0,NaN,139652,NaN,NaN,0
202104,HS,2021,21-Apr,6,1,2,Exports,56,Belgium,NaN,...,NaN,NaN,NaN,NaN,72578.0,NaN,124404,NaN,NaN,0
202105,HS,2021,21-May,4,0,2,Exports,97,EU,NaN,...,NaN,NaN,NaN,NaN,250.0,NaN,566,NaN,NaN,0
202106,HS,2021,21-Jun,4,0,2,Exports,97,EU,NaN,...,NaN,NaN,NaN,NaN,4740950.0,NaN,31414,NaN,NaN,0
202107,HS,2021,21-Jul,6,1,2,Exports,56,Belgium,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,6,NaN,NaN,0
202108,HS,2021,21-Aug,6,1,2,Exports,643,Russian Federation,NaN,...,NaN,NaN,NaN,NaN,6575.0,NaN,19902,NaN,NaN,0
202109,HS,2021,21-Sep,6,1,2,Exports,757,Switzerland,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,91,NaN,NaN,0
202110,HS,2021,21-Oct,6,1,2,Exports,757,Switzerland,NaN,...,NaN,NaN,NaN,NaN,3.0,NaN,127,NaN,NaN,0
202111,HS,2021,21-Nov,6,1,2,Exports,699,India,NaN,...,NaN,NaN,NaN,NaN,36675.0,NaN,183085,NaN,NaN,0
202112,HS,2021,21-Dec,6,1,2,Exports,792,Turkey,NaN,...,NaN,NaN,NaN,NaN,26847.0,NaN,195331,NaN,NaN,0
202201,HS,2022,22-Jan,6,1,2,Exports,97,EU,NaN,...,NaN,NaN,NaN,NaN,105316.0,NaN,800355,NaN,NaN,0
202202,HS,2022,22-Feb,6,1,2,Exports,300,Greece,NaN,...,NaN,NaN,NaN,NaN,1333.0,NaN,7725,NaN,NaN,0
202203,HS,2022,22-Mar,6,1,2,Exports,97,EU,NaN,...,NaN,NaN,NaN,NaN,2236160.0,NaN,743673,NaN,NaN,0
202204,HS,2022,22-Apr,6,1,2,Exports,381,Italy,NaN,...,NaN,NaN,NaN,NaN,70.0,NaN,3657,NaN,NaN,0
202205,HS,2022,22-May,6,1,2,Exports,440,Lithuania,NaN,...,NaN,NaN,NaN,NaN,2.0,NaN,10,NaN,NaN,0
202206,HS,2022,22-Jun,4,0,2,Exports,703,Slovakia,NaN,...,NaN,NaN,NaN,NaN,5118050.0,NaN,71275,NaN,NaN,0
202207,HS,2022,22-Jul,6,1,2,Exports,203,Czech Rep.,NaN,...,NaN,NaN,NaN,NaN,1202.0,NaN,9569,NaN,NaN,0
202208,HS,2022,22-Aug,6,1,2,Exports,268,Georgia,NaN,...,NaN,NaN,NaN,NaN,11714.0,NaN,26915,NaN,NaN,0
202209,HS,2022,22-Sep,6,1,2,Exports,268,Georgia,NaN,...,NaN,NaN,NaN,NaN,36040.0,NaN,82709,NaN,NaN,0

In [4]:
gk = exports.groupby('Year')
gk.first()

,Classification,Period,Period Desc.,Aggregate Level,Is Leaf Code,Trade Flow Code,Trade Flow,Reporter Code,Reporter,Reporter ISO,...,Qty,Alt Qty Unit Code,Alt Qty Unit,Alt Qty,Netweight (kg),Gross weight (kg),Trade Value (US$),CIF Trade Value (US$),FOB Trade Value (US$),Flag
Year,,,,,,,,,,,,,,,,,,,,,
2018,HS,201803,18-Mar,6,1,2,Exports,36,Australia,NaN,...,NaN,NaN,NaN,NaN,21000.0,NaN,61918,NaN,NaN,0
2019,HS,201902,19-Feb,6,1,2,Exports,705,Slovenia,NaN,...,NaN,NaN,NaN,NaN,2.0,NaN,64,NaN,NaN,0
2020,HS,202012,20-Dec,6,1,2,Exports,792,Turkey,NaN,...,NaN,NaN,NaN,NaN,94154.0,NaN,394989,NaN,NaN,0
2021,HS,202108,21-Aug,6,1,2,Exports,643,Russian Federation,NaN,...,NaN,NaN,NaN,NaN,6575.0,NaN,19902,NaN,NaN,0
2022,HS,202205,22-May,6,1,2,Exports,440,Lithuania,NaN,...,NaN,NaN,NaN,NaN,2.0,NaN,10,NaN,NaN,0

In [5]:
gk.get_group(2018)

,Classification,Year,Period,Period Desc.,Aggregate Level,Is Leaf Code,Trade Flow Code,Trade Flow,Reporter Code,Reporter,...,Qty,Alt Qty Unit Code,Alt Qty Unit,Alt Qty,Netweight (kg),Gross weight (kg),Trade Value (US$),CIF Trade Value (US$),FOB Trade Value (US$),Flag
0,HS,2018,201803,18-Mar,6,1,2,Exports,36,Australia,...,NaN,NaN,NaN,NaN,21000.0,NaN,61918,NaN,NaN,0
1,HS,2018,201809,18-Sep,4,0,2,Exports,203,Czech Rep.,...,NaN,NaN,NaN,NaN,48000.0,NaN,47083,NaN,NaN,0
2,HS,2018,201809,18-Sep,6,1,2,Exports,203,Czech Rep.,...,NaN,NaN,NaN,NaN,277.0,NaN,2541,NaN,NaN,0
3,HS,2018,201809,18-Sep,6,1,2,Exports,203,Czech Rep.,...,NaN,NaN,NaN,NaN,44525.0,NaN,178524,NaN,NaN,0
4,HS,2018,201802,18-Feb,6,1,2,Exports,276,Germany,...,NaN,NaN,NaN,NaN,1279.0,NaN,112085,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15718,HS,2018,201807,1-Jul,6,1,2,Exports,97,EU,...,NaN,NaN,NaN,NaN,10016.0,NaN,13816,NaN,NaN,0
15719,HS,2018,201806,1-Jun,6,1,2,Exports,112,Belarus,...,NaN,NaN,NaN,NaN,755000.0,NaN,370600,NaN,NaN,0
15720,HS,2018,201812,1-Dec,6,1,2,Exports,97,EU,...,NaN,NaN,NaN,NaN,37845.0,NaN,96235,NaN,NaN,0
15721,HS,2018,201803,1-Mar,4,0,2,Exports,440,Lithuania,...,NaN,NaN,NaN,NaN,20000.0,NaN,7396,NaN,NaN,0
15722,HS,2018,201811,1-Nov,4,0,2,Exports,440,Lithuania,...,NaN,NaN,NaN,NaN,20000.0,NaN,6819,NaN,NaN,0

In [6]:
gk.get_group(2019)

,Classification,Year,Period,Period Desc.,Aggregate Level,Is Leaf Code,Trade Flow Code,Trade Flow,Reporter Code,Reporter,...,Qty,Alt Qty Unit Code,Alt Qty Unit,Alt Qty,Netweight (kg),Gross weight (kg),Trade Value (US$),CIF Trade Value (US$),FOB Trade Value (US$),Flag
1322,HS,2019,201902,19-Feb,6,1,2,Exports,705,Slovenia,...,NaN,NaN,NaN,NaN,2.0,NaN,64,NaN,NaN,0
1323,HS,2019,201908,19-Aug,6,1,2,Exports,440,Lithuania,...,NaN,NaN,NaN,NaN,30000.0,NaN,26519,NaN,NaN,0
1324,HS,2019,201908,19-Aug,6,1,2,Exports,440,Lithuania,...,NaN,NaN,NaN,NaN,28.0,NaN,354,NaN,NaN,0
1325,HS,2019,201905,19-May,6,1,2,Exports,276,Germany,...,NaN,NaN,NaN,NaN,18802.0,NaN,153771,NaN,NaN,0
1326,HS,2019,201905,19-May,6,1,2,Exports,276,Germany,...,NaN,NaN,NaN,NaN,3121.0,NaN,51205,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15480,HS,2019,201912,1-Dec,6,1,2,Exports,97,EU,...,NaN,NaN,NaN,NaN,1500.0,NaN,8446,NaN,NaN,0
15481,HS,2019,201908,1-Aug,4,0,2,Exports,112,Belarus,...,NaN,NaN,NaN,NaN,109500.0,NaN,73100,NaN,NaN,0
15482,HS,2019,201908,1-Aug,6,1,2,Exports,112,Belarus,...,NaN,NaN,NaN,NaN,63041.0,NaN,34000,NaN,NaN,0
15483,HS,2019,201910,1-Oct,6,1,2,Exports,276,Germany,...,NaN,NaN,NaN,NaN,17965.0,NaN,44459,NaN,NaN,0
15484,HS,2019,201904,1-Apr,6,1,2,Exports,97,EU,...,NaN,NaN,NaN,NaN,29010.0,NaN,61994,NaN,NaN,0

In [7]:
gk.get_group(2020)

,Classification,Year,Period,Period Desc.,Aggregate Level,Is Leaf Code,Trade Flow Code,Trade Flow,Reporter Code,Reporter,...,Qty,Alt Qty Unit Code,Alt Qty Unit,Alt Qty,Netweight (kg),Gross weight (kg),Trade Value (US$),CIF Trade Value (US$),FOB Trade Value (US$),Flag
2687,HS,2020,202012,20-Dec,6,1,2,Exports,792,Turkey,...,NaN,NaN,NaN,NaN,94154.0,NaN,394989,NaN,NaN,0
2688,HS,2020,202006,20-Jun,6,1,2,Exports,276,Germany,...,NaN,NaN,NaN,NaN,2767.0,NaN,67986,NaN,NaN,0
2689,HS,2020,202003,20-Mar,4,0,2,Exports,276,Germany,...,NaN,NaN,NaN,NaN,1210.0,NaN,996,NaN,NaN,0
2690,HS,2020,202006,20-Jun,6,1,2,Exports,246,Finland,...,NaN,NaN,NaN,NaN,3.0,NaN,250,NaN,NaN,0
2691,HS,2020,202002,20-Feb,4,0,2,Exports,498,Rep. of Moldova,...,NaN,NaN,NaN,NaN,169790.0,NaN,28015,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15212,HS,2020,202001,1-Jan,6,1,2,Exports,616,Poland,...,NaN,NaN,NaN,NaN,388.0,NaN,2743,NaN,NaN,0
15213,HS,2020,202003,1-Mar,6,1,2,Exports,276,Germany,...,NaN,NaN,NaN,NaN,8003.0,NaN,19372,NaN,NaN,0
15214,HS,2020,202003,1-Mar,6,1,2,Exports,276,Germany,...,NaN,NaN,NaN,NaN,3800.0,NaN,27990,NaN,NaN,0
15215,HS,2020,202004,1-Apr,4,0,2,Exports,643,Russian Federation,...,NaN,NaN,NaN,NaN,2878680.0,NaN,661833,NaN,NaN,0
15216,HS,2020,202004,1-Apr,4,0,2,Exports,381,Italy,...,NaN,NaN,NaN,NaN,20720.0,NaN,13511,NaN,NaN,0

In [8]:
gk.get_group(2021)

,Classification,Year,Period,Period Desc.,Aggregate Level,Is Leaf Code,Trade Flow Code,Trade Flow,Reporter Code,Reporter,...,Qty,Alt Qty Unit Code,Alt Qty Unit,Alt Qty,Netweight (kg),Gross weight (kg),Trade Value (US$),CIF Trade Value (US$),FOB Trade Value (US$),Flag
4017,HS,2021,202108,21-Aug,6,1,2,Exports,643,Russian Federation,...,NaN,NaN,NaN,NaN,6575.0,NaN,19902,NaN,NaN,0
4018,HS,2021,202108,21-Aug,6,1,2,Exports,643,Russian Federation,...,NaN,NaN,NaN,NaN,75843.0,NaN,358101,NaN,NaN,0
4019,HS,2021,202105,21-May,4,0,2,Exports,97,EU,...,NaN,NaN,NaN,NaN,250.0,NaN,566,NaN,NaN,0
4020,HS,2021,202105,21-May,4,0,2,Exports,97,EU,...,NaN,NaN,NaN,NaN,6109850.0,NaN,40484,NaN,NaN,0
4021,HS,2021,202105,21-May,6,1,2,Exports,97,EU,...,NaN,NaN,NaN,NaN,8.0,NaN,34,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14967,HS,2021,202109,1-Sep,6,1,2,Exports,97,EU,...,NaN,NaN,NaN,NaN,19844.0,NaN,47444,NaN,NaN,0
14968,HS,2021,202106,1-Jun,6,1,2,Exports,156,China,...,NaN,NaN,NaN,NaN,1000.0,NaN,950,NaN,NaN,0
14969,HS,2021,202107,1-Jul,6,1,2,Exports,112,Belarus,...,NaN,NaN,NaN,NaN,276012.0,NaN,178000,NaN,NaN,0
14970,HS,2021,202111,1-Nov,6,1,2,Exports,112,Belarus,...,NaN,NaN,NaN,NaN,53640.0,NaN,39200,NaN,NaN,0
14971,HS,2021,202112,1-Dec,6,1,2,Exports,97,EU,...,NaN,NaN,NaN,NaN,1000.0,NaN,1384,NaN,NaN,0

In [ ]:
#explore data
df['Commodity'].value_counts()
#create bar chart
title=("Types of Commodities")
df.Commodity.value_counts().plot(kind='bar',title=title)

In [ ]:
title = ("Number of Sales Quarterly [Column Chart]")
ylabel = ("netweight")
df=df.plot(x='Commodity', y=('Netweight (kg)'), kind = "bar", title=title, ylabel=ylabel)
plt.legend(loc=(1.01, 0.35))

In [20]:
# Interactive GroupBys Example
import ipywidgets as widgets  
from ipywidgets import SelectMultiple

# Decorator of widgets.interact function to make our function interactive
@widgets.interact(year = SelectMultiple(options=exports.Year.unique()),
                  partner = SelectMultiple(options=exports.Partner.unique()),
                  commodity = SelectMultiple(options=exports.Commodity.unique()))
def group_data(year: list, partner: list, commodity: list) -> 'pd.groupby':
    # Subsect DataFrame by Params
    temp_data = exports[(exports.Commodity.isin(commodity)) & (exports.Partner.isin(partner)) & (exports.Year.isin(year))]
    # Group Data 
    grouped = temp_data.groupby(by=['Period', 'Partner', 'Commodity']).sum()[['Netweight (kg)', 'Trade Value (US$)', ]].reset_index()
    # Add PPU Column
    grouped['PPU (USD/Kg)'] = grouped['Trade Value (US$)'] / grouped['Netweight (kg)']
    
    return grouped

interactive(children=(SelectMultiple(description='year', options=(2018, 2019, 2020, 2021, 2022), value=()), Seâ€¦

In [53]:
# Interactive Graph Example
from matplotlib import pyplot as plt
plt.rcParams["figure.figsize"] = [10, 6]
# Set up with a higher resolution screen (useful on Mac)
%config InlineBackend.figure_format = 'retina'

@widgets.interact(year = SelectMultiple(options=exports.Year.unique()),
                  partner = SelectMultiple(options=exports.Partner.unique()),
                  commodity =exports.Commodity.unique())
def bar_graph(year: list, commodity: list, partner: list):
    # Subsect DataFrame by Params
    temp_data = exports[(exports.Commodity == commodity) & (exports.Partner.isin(partner)) & (exports.Year.isin(year))]
    # Group Data 
    grouped = temp_data.groupby(by=['Period', 'Partner', 'Commodity']).sum()[['Netweight (kg)', 'Trade Value (US$)', ]].reset_index()
    try:
        return grouped.plot(kind='bar', title = '{} in {} for {}'.format(commodity, ' and '.join(partner), ' and '.join(map(lambda x: str(x), year))), x = 'Period')
    except IndexError:
        return 'Enter Parameters'

interactive(children=(SelectMultiple(description='year', options=(2018, 2019, 2020, 2021, 2022), value=()), Drâ€¦